# Dépendances
node_modules/

# Fichiers d'environnement
.env
.env.local

# Logs
*.log
logs/

# Système d'exploitation
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/
*.swp
*.swo

# Fichiers temporaires
tmp/
temp/